
// // MEDIA QUERY
// // tablet grande 800px

// @media (max-width: $kindle-fire) {

// }
// // tablet 769
@media (max-width: $tablet) {
    #table-search{
        top: 50px!important;
        max-width:100%!important;
      }
    .records {
        float: right;
        position: relative;
        right: 10px;
    }
    #progressbar{
        padding:10px;
    }
    #progressbar li {
        font-size: 13px!important;
    }
    #progressbar li:before {
        width: 30px!important;
        height: 30px!important;
        line-height: 25px!important;
        font-size: 12px!important;
      }
}
// mobile plus
@media (max-width: $mobilePlus) {
    #table-search{
        top: 50px!important;
      }
    .records{
        float: right;
    }
    .box .dvrecords .records {
        margin-right: 19px!important;
    }
    .box .dvrecords span{
        top: 6px;
        position: relative;
        left: 15px;
        float: left;
    }
    .goto-top > i {
        left: -40vw;
    }
    #progressbar{
        padding:10px;
    }
    #progressbar li {
        font-size: 10px!important;
    }
    #progressbar li:before {
        width: 30px!important;
        height: 30px!important;
        line-height: 25px!important;
        display: block;
        font-size: 12px!important;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px;
      }

      #progressbar li:after {
        top: 15px!important;
        width: 130%!important;
        left: -15px!important;
    }
}
// mobile 414
@media (max-width: $mobile) {
    #table-search{
        top: 50px!important;
      }
    .box .dvrecords span{
        top: 6px;
        position: relative;
        left: -21px;
        float: right;
    }
    .helper-body{
        margin-top:0!important;
    }
    .helper-links{
        padding-left: 40px!important;
        padding-right: 40px!important;
    }
    .goto-top > i {
        left: -40vw;
    }
    #progressbar{
        padding:10px;
    }
    #progressbar li {
        font-size: 10px!important;
    }
    #progressbar li:before {
        width: 25px!important;
        height: 25px!important;
        line-height: 20px!important;
        font-size: 12px!important;
      }

    #progressbar li:after {
        top: 15px!important;
        width: 130%!important;
        left: -15px!important;
    }
}
